
.maincontentinner { padding: 10px; }
.subtitle { text-transform: uppercase; font-size: 11px; color: #999; margin-bottom: 5px; }
.subtitle2 { font-size: 13px; text-transform: uppercase; color: #333; margin-bottom: 5px; }

.widget {
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}
.widgettitle { background: #0866c6; margin-top:5px; color: #fff; padding: 12px 15px; font-size: 14px; }
.widgettitle span { vertical-align: middle; display: inline-block; margin-right: 8px; }
.widgetcontent { background: #fff; padding: 15px 12px; border: 2px solid #0866c6; margin-top:-25px; margin-bottom: 20px; }
.widgetcontent p { margin: 15px 0; }
.wt1 { background: #333; color: #fff; }
.wc1 { border-color: #333; }
.row-fluid .span5.imginfo { width: auto; float: none; margin-bottom: 20px; }
.row-fluid .span7.imgdetails { width: auto; margin: 0; float: none; }